
@mixin recuadro {
    border-bottom: 3px solid map-get($colores, Naranja);
    border-right:  3px solid map-get($colores, Naranja);
    border-left:  3px solid map-get($colores, Naranja);
    border-top:  3px solid map-get($colores, Naranja);
    
}

@mixin overlay {
    position: absolute;
    top: 0;   
    background: rgba(0,0,0,0.8);
    text-align:center;    
    align-items: center;
    justify-content: center;
    color:#ffffff;
    font-family: "Audiowide", sans-serif;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.25s;
}
